@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web:wght@400;700&display=swap");

:root {
    --bg_color: var(--tg-theme-bg-color);
    --text_color: var(--tg-theme-text-color);
    --hint_color: var(--tg-theme-hint-color);
    --link_color: var(--tg-theme-link-color);
    --button_color: var(--tg-theme-button-color);
    --button_text_color: var(--tg-theme-button-text-color);
    --secondary_bg_color: var(--tg-theme-secondary-bg-color);

    /* --bg_color: #1d2733;
    --text_color: #ffffff;
    --hint_color: #7d8b99;
    --link_color: #5eabe1;
    --button_color: #50a8eb;
    --button_text_color: #ffffff;
    --secondary_bg_color: #151e27; */
}

body {
    background: var(--bg_color);
    color: var(--text_color);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-family: "Titillium Web", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.display-1 {
    font-size: 3em;
    font-weight: 900;
}

.icons {
    display: flex;
    gap: 10px;
}

.icon-btn {
    padding: 5px 10px;
    font-size: 50px;
    color: var(--text_color);
    background-color: var(--bg_color);
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5px 25px;
}

.product-card {
    text-align: left;
    border-radius: 8%;
    width: 100%;
    background-color: var(--secondary_bg_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    width: 100%;
    height: 250px;
    border-radius: 8%;
}

.price {
    font-size: 2em;
    font-weight: 600;
    margin: 5px 20px;
}

.title {
    font-size: 1.5em;
    margin: 0px 20px 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    width: 95%;
    height: 50px;
    font-size: 1.5em;
    border-radius: 30px;
    cursor: pointer;
    color: var(--button_text_color);
    background-color: var(--bg_color);
}
